<div class="container">
    {{#each posts}}
    <div class="media">
        <img src="{{user.image}}" class="mr-3 post-user-pic">
        <div class="media-body">
            <a href="/showposts/{{user._id}}"><h3 class="mt-0">{{user.fullname}}</h3></a>
            <h4>{{title}} <small><i class="fa fa-globe"></i></small></h4>
            <p>{{body}}</p>
            <small>{{date}}</small>
            <br>
            {{#if allowComments}}
            {{#each comments}}
            <div class="media mt-3">
                <a class="mr-3" href="#">
                    <img id="comment-user-picture" src="{{commentUser.image}}">
                </a>
                <div class="media-body">
                    <a href="/showposts/{{commentUser._id}}"><h5 class="mt-0">{{commentUser.fullname}}</h5></a>
                    <p>{{commentBody}}</p>
                    <small>{{commentDate}}</small>
                </div>
            </div>
            {{/each}}
            <br>
            <form action="/addComment/{{_id}}" method="POST" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" name="commentBody" class="form-control" placeholder="Leave comment ...">
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-comment"></i></button>
            </form>
            {{else}}
            <p class="red">Comment is not allowed</p>
            {{/if}}
        </div>
    </div>
    <hr>
    {{else}}
    <p>No posts found ...</p>
    {{/each}}
</div>