<div class="container-fluid">
    <div class="row">
        {{#each users}}
        <div class="col" id="users-box">
            <a href="/user/{{id}}">
            <img class="rounded" src="{{image}}" id="users-image">
            </a>
            {{!-- <div class="card">
                <img src="{{image}}" class="card-img-top">
                <div class="card-body">
                    <a href="/user/{{id}}"><h5 class="card-title">{{fullname}}</h5></a>
                    <p id="address" class="card-title">{{location}}</p>
                </div>
            </div> --}}
        </div>
        {{/each}}
    </div>
</div>